@model DotNetFinalProject.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add</h1>

<form asp-action="Create" asp-controller="Project" asp-anti-forgery="true">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="Project.Name"  />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" asp-for="Project.Description"  />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-outline-dark" />
    </div>
</form>