@model IEnumerable<DotNetFinalProject.Models.User>
 <br/>
 <br/>
<h3 class="title">List of Users</h3>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="button is-danger" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>