@using Microsoft.AspNetCore.Identity


@if(User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <p>Hello @User.Identity.Name</p>
    </li>
    <li class="nav-item">
        <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Logout" />
            </form>
    </li>
}
else
{
    <div class="buttons">
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </div>
}