@model IEnumerable<DotNetFinalProject.ViewModels.ProfileViewModel>
@{
    ViewData["Title"] = "Profile Page";
}

<br/>
<br/>
<h1 class="title">@User.Identity.Name </h1>
<hr />
<div class="text-center">
    <dl class="row">
        <dt class = "col-sm-2">
            <b>My Specialties:</b>
        </dt>
        @foreach (var item in Model)
        {
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelItem => item.SpecialtyName)
            </dd>
        }
    </dl>
</div>
<th scope="col"><a asp-controller="Account" asp-action="EditSpecialties">Edit</a></th>

<br />
<br />
<div class="buttons">
    <a class="button is-primary" asp-controller="Account" asp-action="MyProjects">My Projects</a>
</div>